


/* Sidebar Navigation */
.sidebar {
    width: 190px; 
    height: 100vh; 
    background-color: #100f1a; 
    position: fixed; 
    left: 0;
    top: 0;
    border-right: 2px solid #1d1e7d;
}

/* Navigation Links */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 1px 0px;
}

.sidebar ul li a {
    display: block;
    color: #f5227799;
    text-decoration: none;
    padding: 5px 0px;
    font-size: 35px;
    text-align: center;
    box-sizing: border-box;
}

.sidebar ul li a:hover:not(.active) {
    color: #f52277;
    background-color: #fd43cd12;
}

.sidebar ul li a.active {
    color: #d0fff4;
    background-color: #1d1e7d;
    /* background-color: #33FF57; */
    /* background-color: #D7FF00; */
    width: 100%;
    display: block;
}

.sidebar ul li a:hover.active {
    color: #93e0e3;
    width: 100%;
    display: block;
}