/* font-family: "Courier New", Courier, monospace; */
/* font-family: "IBM Plex Mono", monospace;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap'); */
/* font-family: "Press Start 2P", cursive;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */
/* font-family: "VT323", monospace; */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); 
@import url("sidebar.css");

html {
    overflow-x: hidden; 
    width: 100%;
    max-width: 100vw; 

}


/* Reset default margin and padding */
body {
    
    margin: 0;
    padding: 0;
    display: flex; /* Makes sidebar and content sit side by side */
    background-color: #12111f;
    font-family: "VT323", monospace;
    color: #93e0e3;
}

h1 {
    position: relative;
    transform: translate(55px, 75px); /* (right, down) */
    color: #93e0e3;
    font-size: 87px;
    
}

hr {
    margin: auto;
    position: absolute;
    transform: translate(0, 257px); /* (right, down) */
    border: none;
    height: 5px;
    background-color: #f52277;
    left: 10.03%;
    width: 100%; 
    max-width: 100%;
}

hr2 {
    margin: auto;
    position: absolute;
    transform: translate(0, 278px); /* (right, down) */
    border: none;
    height: 3px;
    /* background-color: #f52277; */
    background-color: #9736c08c;
    left: 10.03%;
    width: 100%; 
    max-width: 100%;
}

.content {
    color: #93e0e3;

    /* position */
    margin-left: 220px;
    transform: translate(220px, -86px); /* (right, down) */
    position: absolute;
    align-items: center; 
    text-align: left;
    flex-wrap: wrap;

    /* text wrapping */
    width: 70%; 
    max-width: 80%; 
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal; 
}

.gooser {
    transform: translate(229px, 30px); 
    position: absolute;
    width: 235px;  
    height: 260px; 
    border-radius: 50%; 
    border: 3px solid #d1d10d; /* #ffcc00 #d1d10d*/
}


#cursor {
    display: inline-block;
    width: 44px;
    height: 17px;
    margin: 0 0 -1px 0;
    background-color: #93e0e3;
    animation: blink 1s infinite step-end;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}




