/* font-family: "Courier New", Courier, monospace; */
/* font-family: "IBM Plex Mono", monospace;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap'); */
/* font-family: "Press Start 2P", cursive;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */
/* font-family: "VT323", monospace; */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); 


:root {
    --MARGIN: 220px;
    --main-color: #93e0e3;
    --default-font: 30px;
}

/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    display: flex; /* Makes sidebar and content sit side by side */
    background-color: #12111f;
    font-family: "VT323", monospace;
    color: #93e0e3;
}

/* Sidebar Navigation */
.sidebar {
    width: 190px; 
    height: 100vh; 
    background-color: #100f1a; 
    position: fixed; 
    left: 0;
    top: 0;
    border-right: 2px solid #1d1e7d;
}

/* Navigation Links */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 1px 0px;
}

.sidebar ul li a {
    display: block;
    color: #f5227799;
    text-decoration: none;
    padding: 5px 0px;
    font-size: 35px;
    text-align: center;
    box-sizing: border-box;
}

.sidebar ul li a:hover:not(.active) {
    color: #f52277;
    background-color: #fd43cd12;
}

.sidebar ul li a.active {
    color: #d0fff4;
    background-color: #1d1e7d;
    /* background-color: #33FF57; */
    /* background-color: #D7FF00; */
    width: 100%;
    display: block;
}

.sidebar ul li a:hover.active {
    color: #93e0e3;
    width: 100%;
    display: block;
}

.content {
    display: flex;  /* aligns items in a row */
    align-items: center; /* Aligns text and image to the left */
    text-align: left;
    color: #93e0e3;
    margin-left: 220px;
}

.gooser {
    transform: translate(25px, 25px); /* (right, down) */
    width: 175px;  
    height: 195px; 
    border-radius: 50%; 
    border: 3px solid #d1d10d; /* #ffcc00 #d1d10d*/
}

hr {
    position: fixed;
    transform: translate(0, 244px); /* (right, down) */
    border: none;
    height: 5px;
    background-color: #f52277;
    left: 10.03%;
    width: 100%; 
}

hr2 {
    position: fixed;
    transform: translate(0, 265px); /* (right, down) */
    border: none;
    height: 3px;
    /* background-color: #f52277; */
    background-color: #9736c08c;
    left: 10.03%;
    width: 100%; 
}

h1 {
    position: relative;
    transform: translate(55px, 75px); /* (right, down) */
    color: #93e0e3;
    font-size: 87px;
    
}


#cursor {
    display: inline-block;
    width: 44px;
    height: 17px;
    margin: 0 0 -1px 0;
    background-color: #93e0e3;
    animation: blink 1s infinite step-end;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
